@font-face {
  font-family: 'Material Icons Outlined';
  src: url('./MaterialIconsOutlined-Regular_OLD.otf') format('opentype');
}

body {
  margin: 0 1em 6em 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

.material-icons {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

table {
    margin: 0 0 1em;
    width: 100%;
}

table,
tr,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.8em;
    font-size: 14px;
}

th {
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.04);
}

input,
select,
button {
  padding: 0.5em 0.7em;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.login-modal-background {
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .modal-box {
        margin: 30vh auto;
        max-width: 50vh;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.19);
        padding: 1em;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.flash-modal-background {
    z-index: 100;
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .modal-box {
        margin: 40vh auto;
        max-width: 50vh;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.19);
        padding: 1em;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .flash-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em;
        padding: 0.5em;
        border: 2px solid #7dbb92;
        border-radius: 3px;
    }

    .symbol-text-wrapper {
        margin: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        margin: 0 1em;
    }

    .material-icons {
        color: #7dbb92;
    }

    .warning-border {
        border: 2px solid #dc3545;
    }

    .warning-color {
        color: #dc3545;
    }
}


.pointer-cursor {
    cursor: pointer;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}

.logged-in-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    p {
        font-size: 0.8em;
        margin-right: 1em;
    }
}

.header-below-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.change-city-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
    padding: 0.5em;
    border: 2px solid #7dbb92;
    border-radius: 3px;

    .label {
        margin: 0 1em;
        color: #000;
    }

    select {
        font-weight: bold;
    }
}

.menu-wrapper {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 1em;
    }

    li:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    li.active {
        font-weight: bold;
    }
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#map-wrapper-main {
    position: relative;
    height: 600px;
    width: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.map-legend {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    div {
        margin-right: 1em;
    }
}

.bike-popup {
    display: flex;
    flex-direction: column;
}

.bike-popup-form {
    display: flex;
    flex-direction: column;
}

.bike-move-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    select,
    div,
    button {
        margin-left: 1em;
    }

    select {
        min-width: 200px;
    }
}

.icon-and-label-wrapper {
    margin: 0.2em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    div {
        margin: 0 1em;
    }
}
