@font-face {
  font-family: "Material Icons Outlined";
  src: url("./MaterialIconsOutlined-Regular.otf") format("opentype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-family: "Material Icons Outlined";
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-wrapper {
  list-style-type: none;
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-wrapper li {
  margin: 0 1em;
}
.menu-wrapper li:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  margin: 0 0 1em;
  width: 100%;
}

table,
tr,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 0.8em;
  font-size: 14px;
}

th {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}
