@font-face {
  font-family: "Material Icons Outlined";
  src: url("./MaterialIconsOutlined-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans-Regular.ttf") format("truetype");
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

.material-icons {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

h1, h2 {
  color: #298e46;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.1em;
}

/* Disable updown arrow in inputnumber field for
    Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable updown arrow in inputnumber
    field for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
  margin: 0 0 1em;
  width: 100%;
}

table,
tr,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 0.8em;
  font-size: 14px;
}

th {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  text-align: left;
  color: #298e46;
  font-weight: 900;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

input,
select,
button {
  padding: 0.5em 0.7em;
}

button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.column-table th {
  text-align: right;
  font-weight: bold;
  border: 0;
  width: 350px;
}

.login-modal-background {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.login-modal-background .modal-box {
  margin: 30vh auto;
  max-width: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flash-modal-background {
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.flash-modal-background .modal-box {
  margin: 30vh auto;
  max-width: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.flash-modal-background .flash-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  padding: 0.5em;
  border: 2px solid #333;
  border-radius: 3px;
}
.flash-modal-background .symbol-text-wrapper {
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flash-modal-background .text {
  margin: 0 1em;
}
.flash-modal-background .material-icons {
  color: #333;
}
.flash-modal-background .error-border {
  border: 2px solid #dc3545;
}
.flash-modal-background .error-color {
  color: #dc3545;
}

.pointer-cursor {
  cursor: pointer;
}

.content {
  max-width: 1200px;
  margin: 2em auto;
}

.logged-in-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.logged-in-box p {
  font-size: 0.8em;
  margin-right: 1em;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.header-content-wrapper {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
  color: #298e46;
  font-size: calc(1.275rem + 0.3vw);
  line-height: 1.2;
}

.change-city-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0.6em 0;
  padding: 0.3em;
  border: 1px solid #7dbb92;
  border-radius: 3px;
}
.change-city-wrapper .label {
  margin: 0 1em;
  color: #298e46;
}
.change-city-wrapper select {
  font-weight: bold;
}

.menu-wrapper {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: #298e46;
}
.menu-wrapper li {
  margin: 0 1em;
}
.menu-wrapper li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu-wrapper li.active {
  font-weight: 900;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#map-wrapper-main {
  position: relative;
  height: 600px;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map-legend {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.map-legend div {
  margin-right: 1em;
}

.bike-popup {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.bike-popup .bike-icon-wrapper {
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bike-popup .bike-icon-text {
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
.bike-popup .bike-info {
  margin: 0.2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bike-popup .bike-info-label {
  font-weight: bold;
}

.bike-popup-form {
  padding: 0.5em;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 3px;
}
.bike-popup-form .maintenance-checkbox {
  margin: 0.3em 0;
}

.station-popup {
  display: flex;
  flex-direction: column;
}
.station-popup .station-icon-wrapper {
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.station-popup .station-icon-text {
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.bike-move-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bike-move-form select,
.bike-move-form div,
.bike-move-form button {
  margin-left: 1em;
}
.bike-move-form select {
  min-width: 200px;
}

.icon-and-label-wrapper {
  margin: 0.2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-and-label-wrapper div {
  margin: 0 1em;
}
